<!-- Page Heading -->
<h1 class="my-4">Listing Posts</h1>
<!-- Project One -->
<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-4">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3><%= post.title %></h3>
      <p>
        <%= post.body.first(100).html_safe %>
        <% if post.body.size > 100 %>
          ...
        <% end %>
      </p>
      <small><%= post.author.full_name %> | <%= time_ago_in_words(post.updated_at) %> ago |
        <%= post.body.reading_time :format => :approx %> read</small>
      <br>
      <a class="btn btn-primary" href="<%= post_path(post) %>">Show</a>
      <% if current_user == post.author %>
        <a class="btn btn-success" href="<%= edit_post_path(post) %>">Edit</a>
        <a class="btn btn-danger" href="<%= post_path(post) %>"
                data-method="delete"
                onclick="return confirm('Are you sure?')">Delete</a>
      <% end %>
    </div>
  </div>
  <!-- /.row -->
  <hr>
<% end %>

<!-- Pagination -->
<div class="pagination justify-content-center">
  <%= paginate @posts %>
</div>
