<!-- Page Heading -->
<h1 class="my-4">Listing Posts</h1>
<!-- Project One -->
<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-4 ">
      <img class="img-fluid rounded mb-3 mb-md-0 "
           src="<%= post.image.url %>"
           height="400" width="700"
           alt="post_image">
    </div>
    <div class="col-md-8">
      <div class="row p-1">
      <h3><%= link_to post.title, post_path(post), class:"text-dark" %></h3>
      </div>
      <div class="row p-1">
        <%= post.body[0..200].html_safe %>
        <% if post.body.size > 200 %>
          ...
        <% end %>
      </div>
      <div class="row p-1">
        <img src="<%= post.author.avatar.url %>"
             class="rounded-circle float"
             alt="avatar"
             height="24" width="24">
        <small class="ml-1"><%= post.author.full_name %> · <%= time_ago_in_words(post.updated_at) %> ago · <%= post.body.reading_time :format => :approx %> read</small>
      </div>
      <div class="row p-1">
        <% if current_user == post.author %>
          <a class="btn ml-1 mr-1 btn-success" href="<%= edit_post_path(post) %>">Edit</a>
          <a class="btn btn-danger" href="<%= post_path(post) %>"
                  data-method="delete"
                  onclick="return confirm('Are you sure?')">Delete</a>
        <% end %>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <hr>
<% end %>

<!-- Pagination -->
<div class="pagination justify-content-center">
  <%= paginate @posts %>
</div>
