<div class="row content">
  <div class="col-2"></div>
  <div class="col-8">
    <small><%= @post.author.full_name %> | <%= time_ago_in_words(@post.updated_at) %> ago |
            <%= @post.body.reading_time :format => :approx %> read</small>
    <h1>
      <%= @post.title %>
    </h1>
    <div class="pt-3">
        <img class="img-fluid rounded mb-3 mb-md-0"
             src="<%= @post.image.url %>"
             height="400" width="700"
             alt="post_image">
    </div>
    <p>
      <%= @post.body.html_safe %>
    </p>

    <h2>Comment</h2>
    <% @post.comments.each do |comment| %>
      <p>
        <strong><%= comment.user&.full_name || 'Unnamed' %>:</strong>
        <%= comment.body %>
      </p>

      <p>
        <%= link_to 'Delete Comment', post_comment_path(post_id: @post.id, id: comment.id),
                     method: :delete,
                     data: { confirm: 'Are you sure?' } if current_user == @post.author %>
      </p>
    <% end -%>

    <h2>Add a comment:</h2>
    <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
      <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>
  <div class="col-2"></div>
</div>
