<div class="row content">
  <div class="col-2"></div>
  <div class="col-8">
    <small><%= @post.author.full_name %> | <%= time_ago_in_words(@post.updated_at) %> ago |
            <%= @post.body.reading_time :format => :approx %> read</small>
    <small>
      <% if !current_user.follow?(@post.author) %>
        <%= link_to 'Follow', relationships_path(user_id: @post.author.id), method: :post %>
      <% else %>
        <%= link_to 'Unfollow', unfollow_relationships_path(user_id: @post.author.id), method: :post %>
      <% end %>
    </small>
    <div class="pt-5">
      <h1><%= @post.title %></h1>
    </div>
    <div class="pt-3">
      <img class="img-fluid rounded mb-3 mb-md-0"
             src="<%= @post.image.url %>"
             height="400" width="700"
             alt="post_image">
    </div>

    <div class="pt-3">
      <%= @post.body.html_safe %>
      <p>
        <%= social_share_button_tag(@post.title) %>
      </p>
    </div>

    <div class="py-4">
      <h5><%= @post.comments.size %> Comments</h5>
      <% @post.comments.each do |comment| %>
      <div class="row">
        <div class="col-0.5">
          <img src="<%= comment.user.avatar.url %>"
               class="rounded-circle float"
               alt="avatar"
               height="24" width="24">
        </div>
        <div class="col-11 pb-3">
          <div class="row">
            <strong class="ml-2"><%= comment.user&.full_name || 'Unnamed' %></strong>
          </div>
          <div class="row py-2">
            <%= comment.body %>
          </div>
          <div class="row">

            <% comment.comments.each do |reply| %>
              <div class="row">
                <strong class="ml-2"><%= reply.user&.full_name || 'Unnamed' %></strong>
              </div>
              <div class="row py-2">
                <%= reply.body %>
              </div>
            <% end %>
            <small><%= time_ago_in_words(comment.updated_at.to_s(:short_ordinal)) %> ago |

                   <%= link_to 'reply', '',
                               class: "reply",
                               'comment-id': comment.id %>

                   <%= link_to 'Delete Comment', post_comment_path(post_id: @post.id, id: comment.id),
                           method: :delete,
                           data: { confirm: 'Are you sure?' } if current_user == @post.author %>
            </small>
        </div>
        <div class="row reply-for-<%= comment.id %>" style="display: none">
          <textarea class=""></textarea>
          <a href="#" class="submit-reply" comment-id='<%= comment.id %>'>Submit</a>
        </div>
      </div>
      </div>
      <% end -%>
    </div>
    <h5>Responses</h5>
    <%= form_with(model: [ @post, @post.comments.build ]) do |form| %>
      <div class="form-group">
        <%= form.text_area :body, class: "form-control", placeholder: "Write a responses..." %>
      </div>
      <div class="form-actions">
        <%= form.submit "Submit" %>
      </div>
      <div class="col-2"></div>
    <% end %>
    <div class="py-2">
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
  <div class="col-2"></div>
</div>


<script type="text/javascript">
  $(".reply").click(function(event) {
    var id = event.target.getAttribute('comment-id');
    $('.reply-for-' + id).show();
    // event.stopPropagation();
    event.preventDefault();
  });

  $(".submit-reply").click(function(event) {
    var reply = $(event.target).parent().find('textarea')[0].value
    var commentId = event.target.getAttribute('comment-id');
    if (reply) {
      sendReply(commentId, reply);
    } else {
      alert('Please enter your reply messages.')
    }
    event.preventDefault();
  });

  function sendReply(comment_id, reply_message) {
    $.post('/posts/0/comments/' + comment_id + '/reply', { comment_id: comment_id, reply_message: reply_message }, function( data ) {
      alert('commented');
    });
  }
</script>
